@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

* {
    font-family: "DM Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    background: #636060;
}



.nav-header-menu {
    display: flex;
    justify-content: space-between;
    width: 70%;

}

.logo{
     width: 30%;
}

.nav-header {
    display: flex;
	flex-wrap: wrap;
	
}

.nav-imagen {
    width: 147px;
    max-width: 147px;
    display: flex;
}

.idioma-ingreso{
    width: 50px;
}

.idioma {
    width: 100%;
}
